ENVIRONMENT=development
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/health360-db

OTP_EXPIRY_DURATION = 300
OTP_MAX_ATTEMPT = 3

SMTP_HOST=your-provider
SMTP_PORT=your-port
SMTP_USER=your-email
SMTP_PASS=your-password

SECRET_KEY=super-secret-production-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7